<div class="col-md-3">
    <div class="card rounded-3 mb-4">
        <div class="thumbnail-image">{{ 'product-1' | placeholder_svg_tag: "w-100" }}</div>
        
        <div class="card-body">
            <span> vendor</span>
            <h5 class="card-title mt-1"> 
                <a href="#">Title will be there</a>
            </h5>
            <p class="card-text mb-1">Some text will be here</p>
            <h6>{{ '999' | money }}</h6>
        </div>
    </div>
</div>