<div class="contact-form-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="flex flex-col items-center card bg-white rounded-4 p-4">
                    {% if section.settings.contact_title %}
                        <h2 class="mb-5 text-center">{{ section.settings.contact_title }}</h2>
                    {% endif %}
                    {% form 'contact' %}
                        {% if form.errors %}
                            <h6 class="d-flex align-items-center gap-2 mb-3">
                                <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"  style="color: red;"/>
                                </svg>
                                <span>Oh no! Your comment was not posted</span>
                            </h6>
                            <ol>
                                {% for error in form.errors %}
                                    <li><span>{{ form.errors.messages[error] }}</span></li>
                                {% endfor %}
                            </ol>
                        {% elsif form.posted_successfully? %}
                            <h6 class="d-flex align-items-center gap-2 mb-3">
                                <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"  style="color: #008000;"/>
                                </svg>
                                <span>Comment is posted successfully</span>
                            </h6>
                        {% endif %}
                        
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" name="contact[name]" class="form-control" id="name" placeholder="John Doe">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" name="contact[email]" class="form-control" id="email" placeholder="name@example.com">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="contact-method">
                                <label for="contact-method" class="d-block mb-1">How do you want us to contact you?</label>
                                <input type="radio" name="contact[contact_method]" class="me-1 mb-2" value="emailRedio" id="emailRedio"><label for="emailRedio">Email</label><br>
                                <input type="radio" name="contact[contact_method]" class="me-1 mb-2" value="phone" id="phone"><label for="phone">Phone</label><br>
                                <input type="radio" name="contact[contact_method]" class="me-1 mb-2" value="text message" id="text"><label for="text">Text message</label>
                              </div>
                        </div>
                        <div class="mb-3">
                            <label for="request-type">What is this regarding?</label>
                            <select class="form-select mt-2" id="request-type" name="contact[request_type]">
                                <option>Returns</option>
                                <option>Shipping</option>
                                <option>Custom order</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" name="contact[body]" id="message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn">Submit</button>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Contact Form",
        "settings": [
            {
                "type": "text",
                "id": "contact_title",
                "label": "Set contact form title"
            }
        ],
        "presets": [
           {
                "name" : "Contact Form"
           }
        ]
    }
{% endschema %}
